<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hello world~~</p>
    <%= memberList[0].memberId  %>
    <%= memberList[0].memberName %>
    <%= memberList[0].memberPhone %>
</body>
</html>